body {
    background-color: #f5f5f5;
    font-family: 'Nunito', sans-serif;
    background-image: url(Polygon2.png);
    background-size: 54.84375% 103.14814814814814%;
    background-repeat: no-repeat;
    background-position: left bottom; 
    color: #4f4f4f; 
}

h1 {
    font-size: 47.5px;
    font-weight: 800;
    margin-bottom: 30px;
}

.spacinglogo_vino {
    -ms-flex: 0 0 81.953125%;
    flex: 0 0 81.953125%;
    max-width: 81.953125%;
    position: relative;
    width: 100%;
}

.col-logo_vino {
    -ms-flex: 0 0 11.875%;
    flex: 0 0 11.875%;
    max-width: 11.875%;
    position: relative;
    width: 100%;
}

.logo_vino {
    margin-top: 36px;
    width: 100%;
}

.row_vino {
    padding-left: 61px;
    padding-right: 79px;
}

.bintang_vino {
    width: 46px;
    margin-right: 20px;
}

h2 {
    display: inline;
    font-size: 32px;
    vertical-align: middle;
    font-weight: bold;
}

p {
    display: block;
    font-size: 32px;
    margin-left: 70px;
    font-weight: 400;
}

.col-text_vino {
    -ms-flex: 0 0 52.5%;
    flex: 0 0 52.5%;
    max-width: 52.5%;
    position: relative;
    width: 100%;
}

.col-kosong_vino {
    -ms-flex: 0 0 47.5%;
    flex: 0 0 47.5%;
    max-width: 47.5%;
    position: relative;
    width: 100%;
}